<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--5.为集合类型属性注入数据
        注意：
            1.为数组、List集合、Set集合 三种不同类型数据注入方式都一样  都可以使用array、list、set标签。
            2.为map集合和properties属性集对象注入数据的两种方式可以互换
    -->

    <!--通过bean标签声明对象创建-->
    <bean id="us" class="com.itheima.service.impl.UserServiceImpl05">
        <!--数组-->
        <property name="array">
            <array>
                <value>张三</value>
                <value>李四</value>
                <value>王五</value>
            </array>
        </property>

        <!--list集合-->
        <property name="list">
            <array>
                <value>冬瓜</value>
                <value>蓝瓜</value>
                <value>傻瓜</value>
            </array>
        </property>

        <!--set集合-->
        <property name="set">
            <array>
                <value>中国</value>
                <value>日本</value>
                <value>美国</value>
            </array>
        </property>

        <!--map集合-->
        <property name="map">
            <map>
                <entry key="CN" value="大中国"></entry>
                <entry key="SJP" value="小日本"></entry>
                <entry key="USA" value="丑美国"></entry>
            </map>
        </property>

        <!--properties属性注入数据-->
        <property name="p">
            <props>
                <prop key="CN">大中国</prop>
                <prop key="SJP">小日本</prop>
                <prop key="USA">丑陋国</prop>
            </props>
        </property>
    </bean>

</beans>