<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--创建UserServiceImpl对象-->
    <bean id="us" class="com.itheima.service.impl.UserServiceImpl"/>

    <!--创建增强类MyAdvice对象-->
    <bean id="myAdvice" class="com.itheima.advice.MyAdvice"/>

    <!--
        aop:config标签：aop的配置 可以写多个
           aop:aspect标签：用于将切入点和通知整合到一起 形成切面
                ref属性：引用增强类对象
                aop:before标签：前置增强
                    method：增强代码所在的方法
                    pointcut：切入点 也就是要进行增强的目标方法
                        eg：使用myAdvice对象的print方法对UserServiceImpl的add方法进行前置增强

          切点表达式：用来匹配某 个|类 方法
            语法：execution(访问修饰符 返回值类型 包名.类名.方法名(参数) 异常名)
            注意：
                1.访问修饰符和异常名一般省略不写
                2.使用*号可以匹配单个独立的任意符号   ..：表示任意个参数 或者 当前包及其子包
                3.设置切点表达式时 不要设置的范围太大

    -->

    <!--AOP配置-->
    <aop:config>
        
        <!--抽取切点表达式-->
        <aop:pointcut id="pt" expression="execution(* com.itheima.service..*.add*(..))"/>
        
        <!--使用MyAdvice类中的print方法对UserServiceImpl类中的add方法进行前置增强-->
        <aop:aspect ref="myAdvice">
            <!--<aop:before method="print" pointcut="execution(public void com.itheima.service.impl.UserServiceImpl.add())"/>-->
            <!--<aop:before method="print" pointcut="execution(void com.itheima.service.impl.UserServiceImpl.add())"/>-->
            <!--<aop:before method="print" pointcut="execution(* com.itheima.service.impl.UserServiceImpl.add())"/>-->
            <!--<aop:before method="print" pointcut="execution(* *..UserServiceImpl.add())"/>-->
            <!--<aop:before method="print" pointcut="execution(* *..*.add())"/>-->
            <!--范围最大的：不推荐使用，表示的是对当前项目中任意包下任意类或接口中的任意方法都进行增强-->
            <!--<aop:before method="print" pointcut="execution(* *..*.*(..))"/>-->
            <!--推荐使用-->
            <aop:before method="print" pointcut-ref="pt"/>
            <aop:after method="print" pointcut-ref="pt"/>
        </aop:aspect>
    </aop:config>

    <!--<aop:config>
        &lt;!&ndash;使用MyAdvice类中的print方法对UserServiceImpl类中的add方法进行前置增强&ndash;&gt;
        <aop:aspect ref="myAdvice">
            <aop:before method="print" pointcut="execution(public void com.itheima.service.impl.UserServiceImpl.update())"/>
        </aop:aspect>
    </aop:config>-->
</beans>